{% extends 'base_layout.html' %}
{% block content %}
{% if user.is_superuser %}
<h1>{{ question.question_text }}</h1>
<br>
<br>
<ul>

</ul>
{% else %}
<br>
<br>
<div class="alert alert-danger" >
     You are not authorized to see result
</div>
{% endif %}

{% endblock %}